<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bug1024.seckill.dao.OrderDao">
    <select id="insert"  resultType="integer" parameterType="com.bug1024.seckill.entity.SeckillOrder">
        insert into seckill_order(seckill_item_id,user_id,state,create_time)
        values(#{seckillItemId},#{userId},#{state},#{createTime})
    </select>
    <select id="selectOrderByItemIdAndUserId" resultType="SeckillOrder" parameterType="map">
        select * from seckill_order where seckill_item_id = #{seckillItemId} and user_id=#{userId}
    </select>
    <select id="selectOrderByOrderId" resultType="SeckillOrder" parameterType="integer">
        select * from seckill_order where id = #{id}
    </select>

    <select id="selectAllNoPayOrder" resultType="SeckillOrder" >
        select * from seckill_order where state = 0
    </select>


    <update id="updateOrderState" parameterType="map">
        update seckill_order set state = #{state} where id = #{orderId}
    </update>

</mapper>